.env
__pycache__
PROFESOR.pdf
BENEFICIOS_PROMEP.pdf
CUERPO_ACADEMICO.pdf
DIRECCIONES.pdf
DOCENCIAS.pdf
GESTION_ACADEMICA.pdf
INVESTIGACION.pdf
LOGROS.pdf
PROFESOR_INVESTIGACIONES.pdf
PROFESOR_LOGROS.pdf
TUTORIAS.pdf