.env
__pycache__
tabla_desde_python.pdf
Academicos.pdf
Direccion.pdf
Docencias.pdf
Gestion Academica.pdf
Investigaciones.pdf
Logros.pdf
Profesor.pdf
Profesores Investigaciones.pdf
Profesores Logros.pdf
PROMEP.pdf
Tutorias.pdf